[parameters]
    database_driver="pdo_mysql"
    database_host="localhost"
    database_name="consilio"
    database_user="consilio"
    database_password="password"
    mailer_transport="smtp"
    mailer_host="localhost"
    mailer_user=""
    mailer_password=""
    locale="ru"
    secret="xxx"
